/* BUTTON */
.btn {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  animation: fadein 6s 28.5s ease forwards;   
  animation-fill-mode: forwards ;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  width: 100%;
  
}

@keyframes fadein {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  
  100% {
    opacity: 1;
    visibility: visible;
    
  }
}

.btn:hover {
  text-decoration: none;
}
.btn-1 {
  background: rgba(red, 0);
  font-weight: 900;
}
.btn-1 svg {
  height: 45px; /*45*/
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect:nth-of-type(1) {
  fill: none;
  stroke: #fff;
  stroke-width: 5;
  stroke-dasharray: 422,0;
  transition: all 0.35s linear;
}
.btn-1:hover {
  color:#fff;
  background: rgba(red, 0);
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect:nth-of-type(1) {
  stroke:black;
  stroke-width: 5;
  stroke-dasharray: 30,620;
  stroke-dashoffset: -351;
  transition: all 1.35s cubic-bezier(0.19, 0.8, 0.22, 1);
  
}
.btn-1:hover rect:nth-of-type(2) {
  stroke:black;
  stroke-width: 5;
  stroke-dasharray: 30,620; /*15 310*/
  stroke-dashoffset: -147;
  transition: all 1.35s cubic-bezier(0.19, 0.8, 0.22, 1);
  
}
.btn-1 rect:nth-of-type(2) {
  fill: none;
  stroke:#fff;
  stroke-width: 5;
  stroke-dasharray: 422,0;
  transition: all 0.35s linear;
}

 
.btn-2 {
  width: 200px;
  height: 50px;
  background-color: transparent;
  color:#fff;
  font-size:18px;
  font-weight:900px;
  font-family: "Lucida Console", "Courier New", monospace;
  position: relative;
  text-align: center;
  overflow: hidden;
}


.text {
  width: 170px;
  height: 45px;
  position: absolute;
}

.primary {
  top: 0px;
}

.secondary {
  top: 80px;
}

.btn-2:hover .primary {
  top:-80px
}

.btn-2:hover .secondary {
  top:0px
}

.text {
  transition: top 0.7s;
  -moz-transition: top 0.7s; 
  -webkit-transition: top 0.7s; 
  -o-transition: top 0.7s; 
  -ms-transition: top 0.7s; 
}
