*{
        margin:0;
        padding: 0%;
        box-sizing: border-box;
}
body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
}


.para{
      font-size:160px;
      color:#20b2aa;
      font-weight: 600;
}

 
